POSTGRES_DB=contacts_book_app
POSTGRES_USER=admin
POSTGRES_PASSWORD=veryhardpassword
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

DB_URL=postgresql+asyncpg://admin:veryhardpassword@db:5432/contacts_book_app

JWT_SECRET=secret_secret
JWT_ALGORITHM=HS256
JWT_EXPIRATION_TIME=3600

MAIL_USERNAME=example@meta.ua
MAIL_PASSWORD=example
MAIL_FROM=example@meta.ua
MAIL_PORT=465
MAIL_SERVER=smtp.meta.ua
MAIL_FROM_NAME="Contacts App"

CLOUDINARY_NAME=example
CLOUDINARY_API_KEY=example
CLOUDINARY_API_SECRET=example